.title {
  font-weight: 500 !important;
  font-size: 22px !important;
  justify-content: space-between;
}


.paper {
  border-radius: 8px !important;
  margin-bottom: 30px;
}

.typography {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-top: 10px;
}

.views {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
}